{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_header %}
    <header class="header-main bg-primary text-white">
        {% block base_header_inner %}
            {{ parent() }}
        {% endblock %}
    </header>
{% endblock %}

{% block base_footer %}
    <footer class="footer-main bg-primary text-white">
        {% block base_footer_inner %}
            <div class="container">
                {{ parent() }}
            </div>
        {% endblock %}
    </footer>
{% endblock %}
