{% sw_extends '@Storefront/storefront/layout/cookie/cookie-permission.html.twig' %}

{% block layout_cookie_permission_inner %}
    <div
        class="cookie-permission-container bg-secondary text-white"
        data-cookie-permission="true">
        <div class="container">
            <div class="row align-items-center">

                {% block layout_cookie_permission_inner_content %}
                    {{ parent() }}
                {% endblock %}

                {% block layout_cookie_permission_inner_button %}
                    <div class="col-12 col-md-auto pr-2 ">
                        {% block layout_cookie_permission_inner_button_deny %}
                            <span class="cookie-permission-button js-cookie-permission-button">
                                <button
                                    type="submit"
                                    class="btn btn-light">
                                    {{ "cookie.deny"|trans|sw_sanitize }}
                                </button>
                            </span>
                        {% endblock %}

                        {% block layout_cookie_permission_inner_button_configuration %}
                            <span class="js-cookie-configuration-button">
                                <button
                                    type="submit"
                                    class="btn btn-primary">
                                    {{ "cookie.configure"|trans|sw_sanitize }}
                                </button>
                            </span>
                        {% endblock %}
                    </div>
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
