.header-main {
    .header-logo-main {
        .header-logo-main-img {
            width: 200px;
            height: auto;
        }
    }
    .btn {
        color: $secondary;
    }
}
.footer-main {
    a {
        color: $white;
        &:hover {
            color: $secondary;
        }
    }
}
.cookie-permission-container {
    background-color: $secondary;
    color: $white;
    a {
        color: $white;
        &:hover {
            color: $primary;
        }
    }
}
